body {
  margin: 0;
}
nav{
    height: 20vh;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-image: url('/images/burger-image.png');
    background-size: cover;
    background-position: center;
}

nav h3, nav p{
    position: absolute;
    left: 3em;
    margin: 0;
}

nav h3 {
    top: 3%;
    font-size: 4em;
    left: 1em;
}

nav p{
    top: 13%;
    font-size: 1.2em;
    left: 4em;
}

#selection{
    top: 40vh
}

.menuItems{
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.emoji{
    font-size: 3em;
    display: flex;
    align-items: center;
    margin-left: 1.5em;
    width: 2em;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 0;
}

.list h3, .list p{
    margin: 0;
}