body {
  margin: 0;
}
nav{
    height: 20vh;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-image: url('/images/burger-image.png');
    background-size: cover;
    background-position: center;
    
}

nav h3, nav p{
    position: absolute;
    left: 3em;
    margin: 0;
}

nav h3 {
    top: 5%;
    font-size: 3em;
    left: 1em;
}

nav p{
    top: 13%;
    size: 3em;
}

.emoji{
    size:30px;
}

#selection{
    top: 40vh
}